
/*This is a comment in CSS*/

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    margin: 0;
}

.video-header {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  .header-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    margin-top: 20%;
    padding: 0 20px;
  }
  
  .image-container {
    position: relative;
    top: 0;
    left: 0;
  }
  

h{

    font-size: 100px;
    font-style: italic;
    font-variant: small-caps;
}

h1{
    font-size: 50px;
    
}

h2{
    font-size: 20px;
    
}

h3{
    font-size: 15px;
    
}

p{
    font-size: 16x;
}

header{
    padding: 100px 3%;
    
}

header YAG{
    padding: 50px 3%;
    
}


main{
    width:100%;
    max-width:1400px; /* means it won't be larger than 1200px on larger screens */
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10%;

}

footer{
    width:100%;
    min-height:100px;
}


/* Flex layouts are one of the easier ways to style responsive layouts that work on all devices */
/* https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox */

.flex-container{
    display: flex; /* all children will now be flex items */
    flex-direction: row; /* other option is column */
    flex-wrap: wrap; 
   
    
    /* means the children will wrap to a new line */
}


.flex-item{
    display: flex;
    /* the following three items can be put on one line: https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
    flex-grow: 10;
    flex-shrink: 0;
    flex-basis: 25%; /*width of the box, take up a quarter of the parent's size*/
    box-sizing: border-box; /*this means that we can add padding, line below, and still only take 25% width of parent*/
    padding: 5px;
      
    
}








.flex-item a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/lightgrey-line.jpeg); /*change the image to one of you choice */
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#ffffff;
    transition: all 0.2s; 
    border-radius: 10px;
    text-shadow: #212121;
    
    
    /* CSS transitions https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions */
}

/* want a different background image for each project? */
/* try give each a tag a unique id in your HTML and then set different background images here*/
/* EXAMPLE CSS: won't work if you just un-comment this:*/

.flex-item a#my-101{
   
    background-image: url(../assets/images/galaxy.png); 
}

.flex-item a#my-102{
   
    background-image: url(../assets/images/come\ here.png); 
} 
.flex-item a#my-103{
   
    background-image: url(../assets/images/YAG.png); 
    
} 

.flex-item a#my-201{
   
    background-image: url(../assets/images/GT.png); 
    
} 

.flex-item a#my-202{
   
    background-image: url(../assets/images/MNERVOUS.png); 
    
} 
.flex-item a#my-203{
   
    background-image: url(../assets/images/DATA.png); 
    
} 
.flex-item a#my-204{
   
    background-image: url(../assets/images/DATA2.png); 
    
} 

.flex-item a#my-205{
   
    background-image: url(../assets/images/Cover.png); 
    
} 




.flex-item a:hover{
    
    color:#ffffff;
    background-size: 120%;
    background-color: rgb(63, 63, 63);


}

/*.flex-item h4{
   margin:0px;
   background-color: rgb(94, 94, 94);
   
   padding:1px 0px;


/* Media Queries for responsive design */

/* Un-comment the body background-colors to see bold debug color change between screen sizes */

/* Extra large */
@media screen and (max-width: 1200px) {
    /* body {
      background-color: rgb(0, 255, 162);
    } */

    .flex-item{
        flex-basis: 133.33%; /*width of the box, take up a quarter of the parent's size*/
    }
}

/* Large */
@media screen and (max-width: 992px) {
    body {
      background-color: rgb(255, 255, 255);
    } 

}

/* Medium */
@media screen and (max-width: 768px) {
    /* body {
      background-color: rgb(255, 0, 191);
    } */

    .flex-item{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
}

/* Small */
@media screen and (max-width: 576px) {
    /* body {
      background-color: blue;
    } */

    .flex-item{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
}